body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-grey-dark;
  position: relative;
}

.heading-primary {
  font-size: 2.9rem;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding: 0.7px;
  transition: transform 0.9s, opacity 0.9s;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: capitalize;
  transition: transform 0.9s, opacity 0.9s;
}

.heading-tertiary {
  font-size: 1.6rem;
  transition: transform 0.9s, opacity 0.9s;
  color: #646a7c;
}

.paragraph {
  font-size: $default-font-size;
}
