body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-grey-dark;
  position: relative;
}

br {
  display: block; /* makes it have a width */
  content: ''; /* clears default height */
  margin-top: 10px; /* change this to whatever height you want it */
}

.heading-primary {
  font-size: 2.9rem;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding: 0.7px;
  transition: transform 0.9s, opacity 0.9s;
  @include respond(phone) {
    font-size: 2.6rem;
  }
}

.heading-secondary {
  font-size: 2.1rem;
  text-transform: capitalize;
  transition: transform 0.9s, opacity 0.9s;
  font-weight: normal;
  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  transition: transform 0.9s, opacity 0.9s;
  color: #646a7c;
  font-weight: normal;
}

.paragraph {
  font-size: $default-font-size;
}
