.service-section {
  padding-top: 0;

  &__content {
    width: 100%;
    display: flex;
    @include respond(tab-port-plus) {
      flex-direction: column;
    }

    .left-side {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      background: $color-grey-light-2;
      padding: 20px 0px 20px 20px;
      height: 210px;
      @include respond(tab-port-plus) {
        margin-bottom: auto;
        order: 2;
        margin-top: 32px;
      }
      div:first-child {
        font-size: 1.8rem;
      }

      div:nth-child(2) {
        font-size: 1.5rem;
        width: 93%;
        margin: 7px 0 14px 0;
      }
    }
    .right-side {
      flex: 3.4;
      .stack:not(:last-child) {
        margin-bottom: 20px;
      }

      .stack div:first-child {
        margin-bottom: 6px;
      }
    }
  }
}
